* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  overflow-y: scroll;
}
body {
  min-height: 100%;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  /* height: 10px; */
  align-items: center;
  background-color: rgb(129, 151, 216);
}
.logo {
  margin-left: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.header-list ul {
  list-style: none;
  text-decoration: none;
}

.header-list {
  margin-left: 3rem;
}

.header-list li {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-decoration: none;
}

.dropdown-content a {
  display: inline-block;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-decoration: none;
}

.movie-container-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.single-movie img {
  width: 100%;
  height: 400px;
}

.movie-container {
  margin: 3rem auto;
}

a {
  text-decoration: none;
  color: black;
}

.single-movie {
  color: white;
  margin: 0.5rem 0 0.5rem 0.5rem;
  font-weight: bolder;
}

body {
  background-color: #000000;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  cursor: pointer;
  /* justify-content: center; */
}

.dropdown {
  position: relative;
  display: inline-block;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.single-movie-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 1rem;
}
.leftSingleMovie  {
  margin-top: 2rem;
  margin-left: 2rem;
  /* width: 300px; */
  /* border-radius: 5px; */
}

.rightSingleMovie {
  margin-top: 2rem;
  margin-left: 2rem;
}

.rightSingleMovie h2 {
  margin: 0.7rem;
  font-weight: bolder;
  font-size: 1.5rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* align-items: center; */
}

.rightSingleMovie h3 {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 1rem;
}

.rightSingleMovie p {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 5rem;
}

.material-symbols-outlined{
  font-size: 15px;
  margin-left: 20rem;
  margin-top: 2rem;
  color: white;

}

.single-button{
  /* padding:1rem 0; */
  width:10%;
  height: 20px; ;
  /* border-radius: 5px; */
  /* background-color: rgb(8, 7, 8); */
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 15px;
  /* margin-top: 3rem; */
  margin-bottom: 3rem;

}

.single-movie img{
  border-radius: 5px;
}

.single-movie img:hover{
  transform: scale(1.10)

}

.single-movie h3{
  margin-top: 1rem;
}


.search{
  width: 15%;
  margin: auto;
  padding: 1rem;
  border-radius: 20px;
  background-color: rgb(204, 201, 201);
  margin-top:0.2rem;
  margin-left: 80rem;
}